

<!--<body>-->
<!--<div class="bg-img">-->

<!--<div id="#work">-->
<div class="content-wrapper">
<!--PORTFOLIO CARDS-->
<div class="container text-center">
    <div class="content">
        <div class="fadeInUp-animation work-cards">
            <div class="col-md-4 col-sm-6 col-6 no-gutters">
                <div class="card">
                    <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_a_Project.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <a href="#">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-content">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-6 no-gutters">
                <div class="card">
                    <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_a_Project.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <a href="#">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-content">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-6 no-gutters">
                <div class="card">
                    <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_a_Project.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <a href="#">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-content">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-6 no-gutters">
                <div class="card">
                    <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_a_Project.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <a href="#">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-content">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>

<!--              <div class="card-container">&ndash;&gt;-->

<!--                    <div class="card-image-overlay" style="width: 18rem;">-->
<!--                        <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_a_Project.jpg" class="card-img" alt="...">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="heading">Project Name</h5>-->
<!--                                    <p class="work-content">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>-->
<!--                                        <a href="#" class="card-button">Go somewhere</a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <img class="card-img" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_a_Project.jpg">-->
<!--                    <div class="card-image-overlay">-->
<!--                        <h5 class="heading">Project Name</h5>-->
<!--                        <p class="work-content">About the project</p>-->
<!--                        <a href="" class="card-button">Learn More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-6 col-6">-->
<!--                <div class="card-container">-->
<!--                    <img class="card-img" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_a_Project.jpg">-->
<!--                    <div class="card-image-overlay">-->
<!--                        <h5 class="heading">Project Name</h5>-->
<!--                        <p class="work-content">About the project</p>-->
<!--                        <a href="" class="card-button">Learn More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-6 col-6">-->
<!--                <div class="card-container">-->
<!--                    <img class="card-img" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_a_Project.jpg">-->
<!--                    <div class="card-image-overlay">-->
<!--                        <h5 class="heading">Project Name</h5>-->
<!--                        <p class="work-content">About the project</p>-->
<!--                        <a href="" class="card-button">Learn More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4 col-sm-6 col-6">-->
<!--                <div class="card-container">-->
<!--                    <img class="card-img" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_Is_a_Project.jpg">-->
<!--                    <div class="card-image-overlay">-->
<!--                        <h5 class="heading">Cat</h5>-->
<!--                        <p class="work-content">About cats</p>-->
<!--                        <a href="" class="card-button">Learn More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</div>
<!--</div>-->

<!--</div>-->
